{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<form action="/login" method="post">

    <table>

        <tr>

            <td><label for="Username">Username</label></td>

            <td>

                <input id="Username" name="the_name" type="text" value="{{ yourname }}">
                {% with messages= get_flashed_messages(with_categories=True) %}
                {% for category,message in messages%}
                <li class= "{{category}}" >{{user_error}}</li>
                {% if category == "user_error" %}
                <span>{{message}}</span>
                {% endif %} 
                {% endfor %} 
                {% endwith %} 
            </td>

        </tr>

        <tr>

            <td><label for="password">Password</label></td>

            <td>

                <input id="password" name="the_password" type="password">
                {% with messages= get_flashed_messages(with_categories=True) %}
                {% for category,message in messages%}
                <li class= "{{category}}" >{{password_er}}</li>
                {% if category == "password_er" %}
                <span>{{message}}</span>
                {% endif %} 
                {% endfor %} 
                {% endwith %} 
            </td>

        </tr>

    </table>

    <input type="submit" value="Submit">

</form>
<br>
<p>Don't have an account?<a href="/signup">Create one!</a></p>


{% endblock %}